<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Caso: {{ case.title }}</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="menu">
        <h2>Menú</h2>
        <ul>
            <li><a href="#">Historial de Casos</a>
                <ul>
                    <li><a href="/">Casos Activos</a></li>
                    <li><a href="#">Casos Resueltos</a></li>
                </ul>
            </li>
            <li><a href="#">Configuración</a>
                <ul>
                    <li><a href="/users">Usuarios</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="main">
        <h1>Caso: {{ case.title }}</h1>
        <h2>Información del Cliente</h2>
        <ul>
            <li>Nombres: {{ case.client_name }}</li>
            <li>Apellidos: {{ case.client_surname }}</li>
            <li>Tipo de documento: {{ case.document_type }}</li>
            <li>Nro de Documento: {{ case.document_number }}</li>
            <li>Nro de Contacto: {{ case.contact_number }}</li>
            <li>Correo Electrónico: {{ case.email }}</li>
        </ul>
        <a href="/edit_case/{{ case.id }}"><button>Editar</button></a>
        <h2>Documentos a analizar</h2>
        <ul>
            {% for document in case.documents %}
                <li><a href="{{ url_for('static', filename='uploads/' ~ document) }}" target="_blank">{{ document }}</a></li>
            {% endfor %}
        </ul>
        <form action="/upload_file" method="post" enctype="multipart/form-data">
            <input type="hidden" name="case_id" value="{{ case.id }}">
            <input type="file" name="file" accept=".pdf,.txt" required>
            <button type="submit">Subir Archivo</button>
        </form>
        <button>Generar Reporte</button>
    </div>
</body>
</html>
